/* #region BUTTONS */     
button, .button {
        background-color: var(--button-bg);
        color: var(--button-text);
        border: none;
        margin: 0;
        padding: 0;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        line-height: 0;
        transition: background-color .4s ease;
        font-weight: bold;
}  
button:hover, .button:hover {
        background: var(--button-bg-hover);
        color: var(--button-text-hover);
}
button:active, .button:active {
        background: var(--button-bg-active);
        color: var(--button-text-active);
}
/* #endregion BUTTONS */       

/* #region COLORS */      
:root, :root[data-theme='actual'] {
        --splash-bg: url(assets/chief_pdx_gg_splash.jpg);
        --logo-carousel-wrapper-bg: none;
        --logo-carousel-image-bg: none;
        --funtime-all-bg: none;
        --funtime-input-and-button-bg: none;
        --funtime-input-bg: rgba(0,0,0,.25);

        --button-bg: rgba(var(--chief-pdx-1-alpha),.5);
        --button-bg-hover: rgba(var(--chief-pdx-5-alpha),.25);
        --button-bg-active: rgba(var(--chief-pdx-5-alpha),.55);
        --button-text: rgba(255,255,255,.5);        
        --button-text-hover: rgba(255,255,255,.75);        
        --button-text-active: rgba(255,255,255,1);        
        --text-color: rgba(255,255,255,.65);
        --body-bg:
                linear-gradient(
                rgba(var(--chief-pdx-1-alpha),.1),
                rgba(var(--chief-pdx-1-alpha),.1)), 
                rgb(35, 35, 35);
        --header-footer-bg: 
                linear-gradient(
                rgba(var(--chief-pdx-1-alpha),.1),
                rgba(var(--chief-pdx-1-alpha),.1)), 
                rgb(25, 25, 25);
        --header-footer-inner-bg: none;
        --header-footer-inner-left-bg: none;
        --header-right-bg: none;
        --header-footer-text: white;
        --email-button-wrapper-bg: none;
        --main-bg: none;
        --no-results-bg: none;
        --no-results-text: rgb(210, 210, 210);

        --resume-text-outer-bg: none;
        --resume-text-inner-bg: none;

        --card-bg: 
                linear-gradient(
                rgba(var(--chief-pdx-1-alpha),.08),
                rgba(var(--chief-pdx-1-alpha),.08)), 
                rgb(50, 50, 50);
        --card-give-bg:                 
                linear-gradient(
                rgba(var(--chief-pdx-4-alpha),.08),
                rgba(var(--chief-pdx-4-alpha),.08)), 
                rgb(50, 50, 50);
        --card-get-bg:
                linear-gradient(
                rgba(var(--chief-pdx-3-alpha),.1),
                rgba(var(--chief-pdx-3-alpha),.1)), 
                rgb(50, 50, 50);
        --card-text-bg: none;
        --logo-button-bg: none;
        --logo-button-bg-hover: 
                linear-gradient(90deg,
                rgba(var(--chief-pdx-2-alpha),.15),
                rgba(var(--chief-pdx-2-alpha),.15)), 
                rgb(52, 52, 52);


        --menu-outer-bg: var(--body-bg);
        --menu-inner-bg: none;
        --menu-modal-search-wrapper-bg: none;        
        --menu-modal-input-reset-bg: none;
        --menu-modal-search-input-bg: var(--button-bg);
        --menu-modal-search-input-text: white;


        --image-modal-overlay-div-bg: rgba(128,128,128,1);
        --image-modal-content-div-bg: var(--body-bg);
        --image-modal-content-div-tablet-bg: var(--body-bg);
        --image-modal-content-div-cell-bg: var(--body-bg);
        --image-modal-and-card-text-txt: rgb(210, 210, 210);
        --image-modal-nav-and-text-div-bg: var(--header-footer-bg);
        --image-modal-nav-div-bg: none;
        --image-modal-close-div-bg: none;
        --image-modal-back-and-forward-div-bg: none;
        --image-modal-text-div-bg: none;
        --image-modal-image-container-div-bg: none;

        --image-modal-headline-bg: none;
        --image-modal-date-bg: none;
        --image-modal-location-bg: none;
        --image-modal-description-bg: none;
        --image-modal-filename-bg: none;
        --image-modal-keywords-bg: none;
}

:root[data-theme='test'] {
        --splash-bg: rgb(124, 72, 81);
        --logo-carousel-wrapper-bg: rgb(90, 190, 236);
        --logo-carousel-image-bg: rgb(99, 136, 94);
        --funtime-all-bg: rgb(138, 117, 89);
        --funtime-input-bg: rgb(189, 227, 177);
        --funtime-input-and-button-bg: hotpink;


        --button-bg: rgba(255,200,9,1);
        --button-bg-hover: rgb(96, 183, 88);
        --button-bg-active: rgba(0,255,255,1);
        --button-text: rgba(255,0,111,1);
        --button-text-hover: rgba(44,188,88,1);
        --button-text-active: rgba(255,255,255,1);        
        --text-color: rgb(92, 43, 67);
        --body-bg: 
                linear-gradient(
                rgba(var(--chief-pdx-1-alpha),.1),
                rgba(var(--chief-pdx-1-alpha),.1)), 
                rgb(40, 40, 40);
        --header-footer-bg: red;
        --header-footer-inner-bg: pink;
        --header-left-bg: black;
        --header-right-bg: grey;
        --header-footer-text: white;
        --email-button-wrapper-bg: coral;
        --main-bg: rgb(126, 80, 137);
        --no-results-bg: lightblue;
        --no-results-text: rgb(210, 210, 210);

        --resume-text-outer-bg: hotpink;
        --resume-text-inner-bg: rgb(163, 47, 105);

        --card-bg: rgb(97, 200, 97);
        --image-modal-and-card-text: rgb(210, 210, 210);
        --card-image-bg: orange;
        --card-image-img-bg: purple;
        --card-text-bg: rgb(55, 168, 55);

        --logo-button-bg: magenta;
        --logo-button-bg-hover: skyblue;


        --menu-outer-bg: rgba(117, 51, 180, 0.787);
        --menu-inner-bg: rgb(102, 101, 192);
        --menu-modal-search-wrapper-bg: lime;        
        --menu-modal-input-reset-bg: purple;
        --menu-modal-search-input-text: white;


        --image-modal-overlay-div-bg: green;
        --image-modal-content-div-bg: rgb(64, 52, 125);
        --image-modal-content-div-tablet-bg: rgb(180, 116, 187);
        --image-modal-content-div-cell-bg: rgb(190, 78, 108);
        --image-modal-nav-and-text-div-bg: skyblue;
        --image-modal-nav-div-bg: goldenrod;
        --image-modal-close-div-bg: lime;
        --image-modal-nav-button-bg:  rgb(193, 131, 185);
        --image-modal-back-and-forward-div-bg: rgba(0, 162, 255, 0.25);
        --image-modal-text-div-bg: hotpink;
        --image-modal-image-container-div-bg: rgb(150, 58, 12);

        --image-modal-and-card-text-txt: lightblue;
        --image-modal-headline-bg: red;
        --image-modal-date-bg: lightgreen;
        --image-modal-location-bg: red;
        --image-modal-description-bg: lightgreen;
        --image-modal-filename-bg: red;
        --image-modal-keywords-bg: lightgreen;
}

/* #region MASTER_COLORS */       
:root {
        /* COPY THESE FROM .ASE ONLY */
        --chief-pdx-1: rgb(110,105,90);
        --chief-pdx-1-alpha: 110,105,90;
        --chief-pdx-2: rgb(167, 39, 30);
        --chief-pdx-2-alpha: 167, 39, 30;
        --chief-pdx-3: rgb(71, 123, 54);
        --chief-pdx-3-alpha: 71, 123, 54;
        --chief-pdx-4: rgb(200, 195, 42);
        --chief-pdx-4-alpha: 200, 195, 42;
        --chief-pdx-5: rgb(38, 139, 207);
        --chief-pdx-5-alpha: 38, 139, 207;
}
  /* #endregion MASTER_COLORS */       
/* #endregion COLORS */       

/* #region FONT_VARIABLES */       
:root {
  --font-heading: "Figtree", sans-serif;
  --font-body: "Figtree", sans-serif;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
}
/* #endregion FONT_VARS_IN_ROOT */       

/* #region TEXT_STYLES */
body {
        font-family: var(--font-body);
        font-weight: var(--weight-regular);
        line-height: 1.6;
        font-size: 16px;
        color: var(--text-color);
        margin: 0;
}
ul {
        margin-top: .5rem;
        margin-bottom: 2rem;
}
h2 {
        color: inherit;
        font-family: var(--font-heading);
        font-weight: var(--weight-semi-bold);
        font-size: 1.8rem;
        line-height: 1;
        margin: 0;
}
h3 {
        color: inherit;
        font-family: var(--font-heading);
        font-weight: var(--weight-semi-bold);
        font-size: 1.8rem;
        line-height: 1;
        margin: 0;
}
h4 {
        color: inherit;
        font-family: var(--font-heading);
        font-weight: var(--weight-semi-bold);
        font-size: 1.8rem;
        line-height: 1;
        margin: 0;
}
.button-text {
        background: var(--button-bg);
        color: var(--button-text);
        font-family: var(--font-body);
        font-weight: var(--weight-bold);
        font-size: 0.875rem;
        text-decoration: none;
        margin-top: 0;
        margin-bottom: 0;
}
/* #endregion TEXT_VAR_STYLES */       

/* #region BANNER_IMAGES */  
:root {
        --banner_position_master: calc(50% + 0px) calc(50% - 100px); 
        --banner_height_master: calc(var(--splash-max-width) * var(--crop-master));  
        --banner_height_master-tablet: calc(var(--splash-max-width-tablet) * var(--crop-master));  
        --banner_height_master-cell: calc(var(--splash-max-width-cell) * var(--crop-master));  
        --crop-master: calc(.75 * 1);
        --splash-max-width: 600px;
        --splash-max-width-tablet: 100vw;
        --splash-max-width-cell: 100vw;
}
:root[data-theme-banner='chief_pdx'] {
        --banner_url: url(assets/logo_chief_pdx.png);     
        --banner_height: var(--banner_height_master);              
        --banner_position: var(--banner_position_master);
}
/* #endregion BANNER_IMAGES */       
